body {
    background-color: lightgreen;
}
h1 {
    font-size: 36px;
    color: rgb(122, 141, 141);
    text-align: center;
}
h2 {
    font-size: 20px;
    color: red
}
a{
    text-decoration: none;
    color:orange;
    background-color: yellow;
}
p {
    font-size: 15px;
    color: coral;

}
a:visited{
    background-color: red
    
}
a:hover{
text-decoration: underline;
text-emphasis-style: solid;
text-decoration-color: green;
}


tbody{
    font-size: 30px;
}

 tr{
    background-color: gold;
}
tr:hover{
    background-color: greenyellow;
    cursor: pointer;
}
td{
    border-width: 1px;
    border-style: dashed;
    border-color: red;
}