body {
    background-color: lightgreen;
}
h1 {
    font-size: 36px;
    color: rgb(122, 141, 141);
    text-align: center;
}
h2 {
    font-size: 20px;
    color: blue
}
p {
    font-size: 15px;
    color: coral;
}